{% extends 'app/base.html' %}
{% block title %}Login{% endblock %}
{% block main %}
<div class="container mt-5">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" name="senha" id="senha" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
{% endblock %}
